@font-face {
    font-family: head;
    src: url(/Heading-Now-Variable.ttf);
}

*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
#main{
    
    position: relative;
    overflow: hidden;
}

 #page{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #page>video{

    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
   
    

 }
 #page_text{
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #dadada;
 }
 #page_text h1{
    font-size: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #2600ff;
    -webkit-text-stroke: red;
    -webkit-text-stroke-width: 2px;
    font-weight: 700;
 }
#page1{
    height: 100vh;
    width: 100%;
    background-color:#8A9738;
    
}
#page1 h1{
   top: -35%;
    position: relative;
    font-size: 50vw;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: head;
    font-stretch: 260%;
    font-weight: 90;
    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: orangered;
    -webkit-text-stroke-width: 2px;
}


#page2 {
    
    min-height: 150vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

#page2 h1{
    color: orange;
    font-size: 7vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:600;
    padding-top:5vw;
    margin-left:-45vw;
}
#page2 h2{
    color: green;
    font-size: 7vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:600;
    margin-left:45vw;
}
#page2 video {
    width: 45%;
    max-width: 99%; 
    position: relative;
    transform: rotateX(-50%);
    transform: rotateY(0%);
}
#page3{
    min-height: 115vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#page3>.maincontainer{
     position: absolute;
     width: 80%;
     height: 60vh;
     display: flex;
     flex-direction: row;
     align-items: center;
    justify-content: center;
    
     /* background-color: greenyellow; */
}

#page3>.maincontainer>.card{
    width: 250px;
    height: 320px;
    margin: 25px;
    padding: 2px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    
    
}
.card:hover{
    transform: rotateY(180deg);
}
#page3>.maincontainer>.card>.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 33%, #E0C3FC 86%);    
    color:#333;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 20px 20px 50px grey;
    transform: rotateY(180deg);
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page3>.maincontainer>.card>.front>img{
    height: 100%;
    width: 100%;
    
}
#page3>.maincontainer>.card>.back>h4{
    font-size: 1.5vw;
    padding: 30px 30px;
    
}
#page3>.maincontainer>.card>.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background-color: rgb(255, 98, 0); */
    color:#333;
    border-radius: 20px;
    box-shadow: 20px 20px 50px grey;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    overflow: hidden;
}
#page4{
    min-height: 120vh;
    width: 100%;
    background-color:white;
    overflow: hidden;
}
#page4>img{
    position: relative;
    width: 100%;
    height: 130vh;
    object-fit: cover;
    
}
#page4>.action-btns{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 2%;
    left: 55%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    
}
button{
    background-color: rgb(50, 33, 33);
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 50px;
    border: 2px;
    color: white;

}
#page4>p{
    font-size: 2vw;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 3%;
    left: 55%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #dadada;

}
#page5{
    width: 100%;
    height: 100vh;

}
#page5 img{
    width: 100%;
    height: 100%;
}
